<div class="container" *ngIf="(room$ | async) as room; else noroom">
  <h3>Room nr. <b>{{ room.id }}</b></h3>
  <div class="controls">
    <button id="call" class="btn btn-success" (click)="call()" [disabled]="(inCall$ | async)">Call</button>
    <button id="end" class="btn btn-danger" (click)="endCall()" [disabled]="!(inCall$ | async)">End call</button>
  </div>
  <div class="player">
    <h2>local</h2>
    <video id="local_video" width="680px" style="border: 1px solid black;" #localVideo></video>
    <h2>remote</h2>
    <video id="remote_video" width="680px" style="border: 1px solid black;" #remoteVideo></video>
  </div>
</div>
<ng-template #noroom>
  <div class="no-content">
    No room was selected!
  </div>
</ng-template>
